# {{ ansible_managed }}
# ansibleguy.infra_pki

{% if PKI.crl_distribution.enable | bool %}
{%   if 'crlDistributionPoints' not in pki_extensions %}
crlDistributionPoints = URI:{{ pki_crl_distribution.protocol }}://{{ pki_crl_distribution.domain }}/{{ pki_crl_prefix }}.{{ PKI_HC.ext.crl }}
{%   endif %}

{%   if 'authorityInfoAccess' not in pki_extensions %}
authorityInfoAccess = caIssuers;URI:{{ pki_crl_distribution.protocol }}://{{ pki_crl_distribution.domain }}/{{ pki_crl_prefix }}.{{ PKI_HC.ext.crt }}
{%   endif %}
{% endif %}

{% if pki_extensions | length > 0 %}
# user-defined extensions
{%   for ext, value in pki_extensions.items() %}
{{ ext }} = {{ value }}
{%   endfor %}
{% endif %}
